[
  {
    "remark": "hc",
    "phone": "18862530683",
    "password": "853660538hC",
    "province": "江苏省",
    "city": "苏州市",
    "area": "吴江区",
    "address": "江苏省苏州市吴江区松陵街道佳禾食品",
    "longitude": "120.644724",
    "latitude": "31.104014",
    "randomLocation": true,
    "enable": true,
    "desc": "",
    "pushKey": "826d5d4b02554f7d913676d42c749087"
  },
  {
    "remark": "XM",
    "phone": "18912729605",
    "password": "268468753688Xm",
    "province": "江苏省",
    "city": "苏州市",
    "area": "吴江区",
    "address": "江苏省苏州市吴江区盛泽镇舜湖西路88号",
    "longitude": "120.652589",
    "latitude": "30.903315",
    "randomLocation": true,
    "desc": "",
    "pushKey": "826d5d4b02554f7d913676d42c749087"
  },
]
