[
  {
    "remark": "用户1111111111111",
    "phone": "手机号",
    "password": "密码",
    "province": "xx省",
    "city": "xx市",
    "area": "xx区",
    "address": "最终打卡页面显示的文字，xx省 · xx市 · 某路边",
    "longitude": "经度(精确到小数点后六位)",
    "latitude": "纬度(精确到小数点后六位)",
    "randomLocation": true,
    "enable": true,
    "desc": "打卡备注，顺便说一下：根据用户数量的增加，只要保持标准json格式也就是现在这个样子，一个用户复制一次花括号加进来就行，这里展示三个用户的情况。不限量但是太多了容易造成崩溃",
    "pushKey": "Key设置为相同的会推送到一个微信去，如果不相同则各自推送"
  }
]
